#include "menu.h"
CodeBlocksWindowsApp MENU {
    POPUP "&File" {
        MENUITEM "&Open...", IDM_OPEN
        MENUITEM "&Close",   IDM_CLOSE
        MENUITEM "&Exit",    IDM_EXIT
    }
    POPUP "&Mode" {
        MENUITEM "&Wrap",    IDM_WRAP
        MENUITEM "&Unwrap",  IDM_UNWRAP, CHECKED
    }
}

